<div #sliderRail class="date-range-slider__rail">
  <div #sliderTrack class="date-range-slider__track"></div>
  <div
    #firstThumb
    (mousedown)="onMouseDown($event, 'firstThumb')"
    class="date-range-slider__thumb"
  >
    <div class="date-range-slider__tooltip date-range-slider__tooltip--left">
      <span>{{ getMonthLong(firstValue()) | titlecase }}</span>
      <span>{{ firstValue().getFullYear() }}</span>
    </div>
  </div>
  <div
    #secondThumb
    (mousedown)="onMouseDown($event, 'secondThumb')"
    class="date-range-slider__thumb"
  >
    <div class="date-range-slider__tooltip date-range-slider__tooltip--right">
      <span>{{ getMonthLong(secondValue()) | titlecase }}</span>
      <span>{{ secondValue().getFullYear() }}</span>
    </div>
  </div>
  <div class="date-range-slider__marks">
    @for (mark of marks(); track mark) {
      <div #sliderMark class="date-range-slider__tick">
        @if (!mark.month) {
          <span class="date-range-slider__label" [ngClass]="{ 'date-range-slider__label--year': dateRangeMode() === 'months' }">
            {{ mark.year }}
          </span>
        } @else if (dateRangeMode() === 'months') {
          <span class="date-range-slider__label">
            {{ getMonthShort(mark.date) }}
          </span>
        } @else {
          <span class="date-range-slider__label"></span>
        }
      </div>
    }
  </div>
</div>
