* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype"),
  url("/fonts/Raleway-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
}

body {
  font-family: "Raleway", sans-serif;
  background: #E5E5E5;
  min-height: 100dvh;
  padding: 20px;
}

date-range {
  display: flex;
  align-items: center;
  gap: 8vw;
  min-height: 160px;
  flex: 1;
}

date-range-slider {
  user-select: none;
  width: 100%;
}

date-range-switch {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


@media screen and (max-width: 1024px) {
  body {
    padding: 16px;
  }

  date-range {
    gap: 6vw;
    min-height: 140px;
  }

  date-range-switch {
    gap: 8px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 12px;
  }

  date-range {
    gap: 4vw;
    min-height: 120px;
  }

  date-range-switch {
    gap: 6px;
  }
}
